<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Review App</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/search">Search</a>
        </li>
      </ul>
      <% if(locals.user) {%>
      <form action="/account/logout" method="POST" class="form-inline my-2 my-lg-0">
        <ul class="nav nav-tabs">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              id="navbarDropdownMenuLink"
              data-bs-toggle="dropdown"
              href="#"
              role="button"
              aria-expanded="false"
              ><%= (locals.user.name || "(表示名未設定)") %></a
            >
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">ホーム</a></li>
              <li><a class="dropdown-item" href="#">マイ食レポ</a></li>
              <li><a class="dropdown-item" href="#">設定</a></li>
              <li>
                <span class="dropdown-item">
                  <input type="submit" class="btn btn-outline-success my-2 my-sm-0" value="ログアウト" />
                </span>
              </li>
            </ul>
          </li>
        </ul>
      </form>
      <% } else { %>
      <a class="btn btn-outline-success my-2 my-sm-0 me-2" href="/account/login">ログイン</a>
      <a class="btn btn-outline-success my-2 my-sm-0" href="#">新規登録</a>
      <% } %>
    </div>
  </div>
</nav>
